@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
}

@layer utilities {
    .animate-wave {
      animation: wave 2s infinite;
      display: inline-block;
      transform-origin: 70% 70%;
    }
  
    @keyframes wave {
      0%, 60%, 100% { transform: rotate(0deg); }
      10%, 30% { transform: rotate(-10deg); }
      20%, 40% { transform: rotate(12deg); }
      50% { transform: rotate(-8deg); }
    }
  }